<app-login-register-sidenav></app-login-register-sidenav>
<div class="main">
  <h1 id="title" class="title" i18n="@@changePassword">Change Password</h1>
  <div id="changePasswordBox">
    <form [formGroup]="changePassword" (ngSubmit)="onChangePassword()">
      <div class="form-control-group" style="margin-bottom: 7px;">
        <label class="label" for="input-currentPassword" i18n="@@currentPassword" style="float: left;">Current
          Password:</label>
        <input nbInput fullWidth type="password" name="currentPassword" id="currentPassword"
          formControlName="currentPassword" class="form-control" i18n-placeholder="@@currentPassword"
          placeholder="Current password" autofocus style="font-size: 12px;">
        <small class="form-text text-danger-color"
          *ngIf="changePassword.controls.currentPassword.hasError('required') && changePassword.controls.currentPassword.touched"
          i18n="@@currentPasswordIsRequired">
          Current password is required!
        </small>
      </div>

      <div class="form-control-group" style="margin-bottom: 7px;">
        <label class="label" for="input-newPassword" i18n="@@newPassword" style="float: left;">New
          Password:</label>
        <input nbInput fullWidth type="password" name="newPassword" id="newPassword" formControlName="newPassword"
          class="form-control" i18n-placeholder="@@newPassword" placeholder="New password" autofocus
          style="font-size: 12px;">
        <small class="form-text text-danger-color"
          *ngIf="changePassword.controls.newPassword.hasError('required') && changePassword.controls.newPassword.touched"
          i18n="@@newPasswordIsRequired">
          New password is required!
        </small>
      </div>

      <div class="form-control-group" style="margin-bottom: 7px;">
        <label class="label" for="input-confirmNewPassword" i18n="@@confirmNewPassword" style="float: left;">Confirm
          New Password:</label>
        <input nbInput fullWidth type="password" name="confirmNewPassword" id="confirmNewPassword"
          formControlName="confirmNewPassword" class="form-control" i18n-placeholder="@@confirmNewPassword"
          placeholder="Confirm new password" autofocus style="font-size: 12px;">
        <small class="form-text text-danger-color"
          *ngIf="changePassword.controls.confirmNewPassword.hasError('required') && changePassword.controls.confirmNewPassword.touched"
          i18n="@@confirmNewPasswordIsRequired" style="text-align: left;">
          Confirm new password is required!
        </small>
      </div>

      <div class="row">
        <div class="col-md-12">
          <button nbButton fullWidth class="btn btn-primary" type="submit" i18n="@@login"
            [disabled]="submitted || !changePassword.valid" [class.btn-pulse]="submitted"
            style="padding: 0.3rem; width: 100%">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Change Password
          </button>
        </div>
      </div>

      <div class="forgotPassword-login" style="margin-top: 10px; font-size: 15px">
        <div class="row">
          <div class="col-md-6" style="text-align: left;">
            <a i18n="@@login" href="" routerLink="/login">Already have a account</a>
          </div>

          <div class="col-md-6" style="text-align: right; font-size: 15px">
            <a routerLink="/register" i18n="@@register">Register new user</a>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="copyright-text">
    <p style="text-align: center; color: #000000; margin-left: 50%" i18n>©2021-2022, All Rights Reserved.
      <a target="_blank" href="https://bootwal.com" style="text-decoration: none;">Bootwal R&D</a>
    </p>
  </div>
</div>
