<app-header></app-header>
<div id="link" class="row">
<div class="col-2"></div>
<div class="col-8">
    <h3 class="card-title" style="text-align: center;">Add Document Form</h3>  
      <form [formGroup]="addDocumentForm" (ngSubmit)="submit()" enctype="multipart/form-data">
        <label for="authors"> Authors Name: </label>
        <div class="input-group mb-3">
            <select id="link-1" class="select" aria-label=".form-select-lg example" name="authors" formControlName="authors" multiple>
                <option *ngFor="let user of userList" value="{{user.id}}">{{user.emailId}}</option>
            </select><br>
        </div><br>

        <label for="title">Title Of Project</label>
        <div class="input-group mb-3">
            <input id="link-1" type="text" class="form-control" name="title" formControlName="title" placeholder="Enter Title of Project" aria-label="Username" aria-describedby="basic-addon1">
        </div><br>

        <label for="type">Type of Project</label>
        <div class="input-group mb-3">
            <select id="link-1" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="type" formControlName="type">
                <option *ngFor="let type of types" value="{{type}}">{{type}}</option>
            </select><br>
        </div>

        <label for="discription">Abstract</label>
        <div class="mb-3">
            <textarea id="link-1" class="form-control" name="discription" placeholder="Abstract" formControlName="discription" rows="3"></textarea>
        </div>

        <label for="faculty">Faculty</label>
        <div class="input-group mb-3">
            <select id="link-1" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" type="string" name="faculty" formControlName="faculty">
                <option *ngFor="let faculty of faculties" value="{{faculty.facultyId}}">{{faculty.facultyName}}</option>
            </select><br>
        </div>
            
        <label for="faculty">Tag</label>
        <div class="input-group mb-3">
            <select id="link-1" class="select" aria-label=".form-select-lg example"  type="string" name="tags" formControlName="tags" multiple>
                <option *ngFor="let tag of tags" value="{{tag.tagId}}">{{tag.tagName}}</option>
            </select><br>
        </div>

        <label for="file" class="form-label">Choose Your File</label>
        <div class="input-group mb-3">
            
            <input id="link-1" class="form-control" type="file" name="file" formControlName="file" (change)="onFileChange($event)">
        </div>
        <br>

        <label for="semester" class="form-label">Semester</label>
        <div class="input-group mb-3">
            
            <input id="link-1" type="number" class="form-control" min="1" max="8" name="semester" formControlName="semester"> 
        </div>
                
        <!-- <label for="year" class="form-label">Year of Author</label>
        <div class="input-group mb-3">
            
            <input id="link-1" type="number" class="form-control" min="2071" max="3000" name="year" placeholder="year" formControlName="year"> 
        </div> -->

        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
  </div>
  <div class="col-2"></div>
</div>
<app-footer></app-footer>
