#row{
    height: 5vw;
    background-color: #c0c0c0;
}

#row-item-1{
    margin-top: 1.5vw;
    font-size: 1.4vw;
    color: blue;
}

#row-item-2{
    margin-top: 1.7vw;
    font-size: 1.2vw;
}

#row-item-3{
    margin-top: 1.7vw;
    font-size: 1.3vw;
}

#link:hover{
    text-decoration: none;
    color: blue;
}

#link{
    color: black;
}