<nb-card model-full status status="primary" style="min-height: 250px; min-width: 700px">
    <nb-card-header style="background-color:#588C7F;">
      <label>
        <span style="color: #ffffff" i18n="@@editUnitTitle">{{title}}</span>
      </label>
      <nb-icon icon="close-circle" (click)="dismiss()"
        style="float: right; cursor: pointer; font-size: 26px; color: #ffffff"></nb-icon>
  
    </nb-card-header>
    <nb-card-body>
      <form #facultyForm="ngForm" (submit)="updateFaculty(facultyService.facultyData.facultyId, facultyForm)">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="tagHead">Faculty</label><span class="text-danger-color">*</span>
              <input name="facultyName" #tagName="ngModel" [(ngModel)]="facultyService.facultyData.facultyName" type="text" nbInput
                fullWidth id="FACULTY_NAME" class="form-control" shape="rectangle" placeholder="Enter Faculty"
                i18n-placeholder="@@enterFaculty" required><br>
              <small class="form-text text-danger-color"
                *ngIf="facultyForm.controls.facultyName.hasError('required') && facultyForm.controls.facultyName.touched"
                i18n="@@FacultyNameIsRequired" style="margin-top: 0rem;">
                Faculty Name Required
              </small>
            </div>
          </div>
        </div>
        <hr>
        <button nbButton shape="round" size="small" nbButton type="submit" style="float: left;" status="success"
          i18n="@@update" [disabled]="submitted || !facultyForm.valid" [class.btn-pulse]="submitted">Update</button>
        <button nbButton shape="round" nbButton size="small" type="cancel" style="margin-left: 5px;" status="danger"
          (click)="dismiss()" i18n="@@Cancel">Cancle</button>
      </form>
    </nb-card-body>
  </nb-card>