<nb-card model-full status status="primary" style="min-height: 250px; min-width: 700px">
  <nb-card-header style="background-color:#588C7F;">
    <label>
      <span i18n="@@editRoleTitle" style="color: #ffffff">{{editRoletitle}}</span>
    </label>
    <nb-icon icon="close-circle" (click)="dismiss()"
      style="float: right; cursor: pointer; font-size: 26px; color: #ffffff"></nb-icon>

  </nb-card-header>
  <nb-card-body>
    <form #editRoleForm="ngForm" (submit)="updateRoleData(roleService.RoleData.roleId, editRoleForm)">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="unitHead" i18n="@@role">Role</label> <span class="text-danger-color">*</span>
            <input name="role" #role="ngModel" [(ngModel)]="roleService.RoleData.role" type="text" nbInput fullWidth
              id="UNIT_NAME" class="form-control" shape="rectangle" placeholder="Enter role"
              i18n-placeholder="@@enterRole" required><br>
            <small class="form-text text-danger-color"
              *ngIf="editRoleForm.controls.role.hasError('required') && editRoleForm.controls.role.touched"
              i18n="@@roleIsRequired" style="margin-top: 0rem;">
              Role is required
            </small>
          </div>
        </div>

        <div class="col-md-12">
          <div class="form-group">
            <label for="role" i18n="@@enterRoleDescription">Role Discription</label><span class="text-danger-color">*</span>
            <textarea rows="6" type="text" nbInput fullWidth id="description" class="form-control" shape="rectangle"
              i18n-placeholder="@@enterdescription" placeholder="Enter role description" name="description"
              #description="ngModel" [(ngModel)]="roleService.RoleData.description"></textarea>

            <small class="form-text text-danger-color"
              *ngIf="editRoleForm.controls.description.hasError('required') && editRoleForm.controls.description.touched"
              i18n="@@descriptionIsRequired" style="margin-top: 0rem;">
              Role Discription is required
            </small><br>
          </div>
        </div>

      </div>
      <hr>
      <button nbButton shape="round" nbButton size="small" type="submit" style="float: left;" status="success"
        i18n="@@update" [disabled]="submitted || !editRoleForm.valid" [class.btn-pulse]="submitted">Update</button>
      <button nbButton shape="round" nbButton size="small" type="cancel" style="margin-left: 5px;" status="danger"
        (click)="dismiss()" i18n="@@Cancel">Cancle</button>
    </form>
  </nb-card-body>
</nb-card>
